<html>
  <head>
    <title>Style transfer web app</title>
  </head>
  <body>
    <div>Style transfer: <a href="{{ url_for('index') }}">Home</a>
      {% if g.user.is_authenticated %}
     | <a href="{{ url_for('upload_images') }}">Create an Image</a>
     | <a href="{{ url_for('user', social_id=g.user.social_id) }}">Your Profile</a>
     | <a href="{{ url_for('logout') }}">Logout</a>
     {% endif %}
   </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>