{% extends "base.html" %}
.style_div {

{% block content %}
<style>
#style_div {
	width: 224px;
	float: left;
}

#content_div {
	margin-left: 230px;
}

</style>

<script>
disabled = false
function save_image(img_html_object, result_message) {
	if (disabled == false) {
	    $.post('/save_image', {
	        out_image: $(img_html_object).attr('src')
	    }).done(function() {
	    	disabled = true
	        $(result_message).text('Image saved!')
	        console.log()
	    }).fail(function() {
	        $(result_message).text('Error: your image could not be saved');
	    });
	}
	else {
		$(result_message).text('This image was already saved.')
	}
}
</script>

{% if style_im != None %}
<div id="style_div">
Style image: <br>

<img src="http://localhost:8000/uploads/{{style_im}}" width="224px" height="224px"> <br>
</div>

<div id="content_div">
Content image: <br>

<img src="http://localhost:8000/uploads/{{content_im}}" width="224px" height="224px"> <br>
</div>

Generated image: <br>
<img id="my_image">
<div id="iter_counter">
	Setting up neural network...
</div>

{% for im_name in data: %}
<script>
	// get last part of directory where images are being served
	var dir = '{{config['INTERMEDIATE_IM_DIR']}}'.match(/([^\/]*)\/*$/)[1]
	document.getElementById("my_image").src = 'http://localhost:8000/' + dir + '/{{ im_name }}';
	document.getElementById("iter_counter").innerHTML = 'Number of iterations: {{ im_name.split('.')[0] }}/{{num_iters}}'
</script>
{% endfor %}

<span id="save">
    <a href="javascript:save_image('#my_image', '#save_result');">Save Image</a>
</span>
<span id="save_result"> </span>
{% else %}
No image uploaded. <br>
{% endif %}

{% endblock %}