{% extends "base.html" %}

{% block content %}
  <style>
    .floated_img
    {
        float: left;
        padding: 5px;
        position: relative;
    }

    .del_button
    {
      position: absolute;
      right: 5;
      bottom: 5;
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }
  </style>

  <script>
    function delete_image(img_id) {
      // remove element from DOM
      var element = document.getElementById(img_id);
      element.parentNode.removeChild(element);
      // delete corresponding entry in database and remove from filesystem
      $.post('/delete_image', {
          id: img_id
      })
    }
  </script>

  <table>
      <tr valign="top">
          <td>
              <h1>User: {{user.nickname}}</h1>
          </td>
      </tr>
  </table>
  <hr>
  <div id="images">
  </div>
  {% for image in images %}
  <script>
    // get last part of directory where images are being served
    var dir = '{{config['OUT_DIR']}}'.match(/([^\/]*)\/*$/)[1];
    var div = document.createElement("div");
    div.className = "floated_img"
    // we give div same id as image name for convenience in delete_image method
    div.id = '{{image}}'
    var img = document.createElement("img");
    img.src = 'http://localhost:8000/' + dir + '/{{ image }}' + '.jpg';
    div.appendChild(img)
    document.getElementById("images").appendChild(div);
  </script>
  {% if user.id == g.user.id %}
  <script>
    var del_button = document.createElement("a");
    del_button.className = "del_button"
    del_button.innerHTML = "Delete"
    div.appendChild(del_button)
    del_button.href = "javascript:delete_image('{{image}}');"
  </script>
  {% endif %}
  {% endfor %}
{% endblock %}